@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Gluten:wght@600&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

audio {
  position: absolute;
  z-index: 100;
  margin: auto;
  right: 10px;
  bottom: 10px;
  color: #fff;
}

audio::-webkit-media-controls-panel {
  background-color: #191919;
  border: none;
}

audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-play-button {
  background-color: #f4dfc8;
  border-radius: 50%;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  color: #f4dfc8;
}

audio::-webkit-media-controls-timeline {
  background-color: #f4dfc8;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.snow_wrap {
  width: 100%;
  height: 100%;
  background: url(./public/pexels-adriaan-greyling-764310.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;
  overflow: hidden;
}

.snowflake,
.snowflake::after,
.snowflake::before {
  content: "";
  position: absolute;
  top: -650px;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: radial-gradient(4px 4px at 100px 50px, #fff, transparent),
    radial-gradient(6px 6px at 200px 150px, #fff, transparent),
    radial-gradient(3px 3px at 300px 250px, #fff, transparent),
    radial-gradient(4px 4px at 400px 350px, #fff, transparent),
    radial-gradient(6px 6px at 500px 100px, #fff, transparent),
    radial-gradient(3px 3px at 50px 200px, #fff, transparent),
    radial-gradient(4px 4px at 150px 300px, #fff, transparent),
    radial-gradient(6px 6px at 250px 400px, #fff, transparent),
    radial-gradient(3px 3px at 350px 500px, #fff, transparent);
  background-size: 650px 650px;
  animation: snowing 3s linear infinite;
}

.snowflake::after {
  margin-left: -250px;
  opacity: 0.5;
  filter: blur(2px);
  animation-direction: reverse;
  animation-duration: 6s;
}

.snowflake::before {
  margin-left: -350px;
  opacity: 0.7;
  filter: blur(1px);
  animation-direction: reverse;
  animation-duration: 9s;
}

@keyframes snowing {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(650px);
  }
}
